* {
  box-sizing: border-box;
}

.grid {
  overflow: auto;
}

body {
    background-image: url('/assets/image/red.jpg');
    background-repeat: repeat;
      margin: 0;
    padding: 0;
}

.head {
    text-align: left;
    grid-row: 1;
    height: 50px;
    background: #C60903;
}



h1 {
    color: white;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
  text-align: left;
}

h3 {
  color: black;
  text-align: left;
}


.fl {
  float:left;
  margin:50px;
  width:150px;
  height:150px;
}

.paragraph{
    color: black;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p, footer {
  text-align: center;
  color: whitesmoke;
}

p, .column {
  color: azure;
}

.responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.responsive_sajat {
  width: 100%;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

.img_round {
  border-radius: 50%;
  float: left;
}


.img_boss {
   float: left;
   width: 300px;
   padding-right: 100px;
}

.left {
  float: left;
  width: 15%;
  text-align: center;
  padding:15px;
  margin-top:7px;
}

.main {
    float: left;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 20px;
}

.section_small {
  float: left;
  width: 80%;
  padding: 10px;
  height: 280px;
  margin: 15px;;
  background-color: #C60903;
  border-radius: 5px;
  color: beige;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

.section1 {
  float: left;
  width: 80%;
  padding: 10px;
  height: 400px;
  margin: 15px;;
  background-color: #C60903;
  border-radius: 5px;
  color: beige;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

.section2 {
  float: left;
  width: 80%;
  padding: 10px;
  height: 600px;
  margin: 15px;;
  background-color: #C60903;
  border-radius: 5px;
  color: beige;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

.section3 {
  float: right;
  width: 50%;
  padding: 10px;
  height: 380px;
  margin: 15px;
  background-color: #C60903;
  border-radius: 5px;
  color: beige;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}

.right {
  float: left;
  width: 15%;;
  text-align: center;
  padding:15px;
  margin-top:7px;
}

.footer {
  float: left;
  width: 100%;

}

.navbar {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:  #e96107;
    color: white;
  }

  .button {
    display: inline-block;
    background-color:  #C60903;
    border: 2px solid  #C60903;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  span {
      color: white;
  }

  .nav {
    border: 0px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
    
  }
  
  .nav a {
    background: #C60903;
    border: 1px solid #C60903;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
  }
  
  .nav a:hover {
    background: white;
    border: 1px solid ;
    color: #325175;
  }

  .footer-button {
    text-align: right;
    padding-bottom: 20px;;
    
  }

  .bayern-button {
    text-align: center;
    padding: 20px;;
  }

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  margin: 15px;;
  background-color: #C60903;
  border-radius: 5px;
  color: beige;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
  }


  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 33.3%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }